<div id="<%= dom_id screech %>">
<div class="card" >
  <div class="card-body">
    <h5 class="card-title"><%= screech.username %></h5>
    <p class="card-text"><%= screech.description %></p>
  </div>
</div> 
</div>
