<% content_for :title, "Editing screech" %>

<h1>Editing screech</h1>

<%= render "form", screech: @screech %>

<br>


<div class="d-flex justify-content-evenly my-3">
  <%= link_to "Show this screech", @screech , class:"btn btn-primary"%> 
  <%= link_to "Back to screeches", screeches_path, class:"btn btn-dark" %>
</div>
